<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Logout</title>
    <link rel="stylesheet" th:href="@{/CSS/security-layout.css}" type="text/css">
</head>
<body>
<form method="post" th:action="@{/logout}">

    <div class="wrapperLogout">
        <div class="containerLogout">
            <p>Are you sure you want to log out?</p>
            <input class="logoutButton" type="submit" value="Logout"/>
        </div>
    </div>


</form>
</body>
</html>