<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Browse Cars</title>
    <link rel="stylesheet" th:href="@{/CSS/account-layout.css}" type="text/css">
</head>
<body>
<ul th:replace="page-layout :: userNavBar"></ul>

<div class="container">
    <h3>Make reservation</h3>

    <p th:if="${listedCarReservations.size() == 0}">Select the cars to make a reservation.</p>

    <table id="tablestyle" th:if="${listedCarReservations.size() != 0}">
        <tr>
            <th>Car name</th>
            <th>Owner</th>
            <th>Release Year</th>
            <th>Edition</th>
            <th>Reservation Period</th>
            <th>Remove From List</th>
        </tr>
        <tr th:each="resCar : ${listedCarReservations}">
            <td th:text="${resCar.key.carName}"></td>
            <td th:text="${resCar.key.owner}"></td>
            <td th:text="${resCar.key.releaseYear}"></td>
            <td th:text="${resCar.key.edition}"></td>
            <td th:text="${resCar.value}"></td>
            <td style="width: 100px">
                <form action="/user/browsecars">
                    <input class="table" style="background-color: red" type="submit" value="Remove">
                    <input th:name="reservedCarIdsInString" th:value="${reservedCarIds}" type="hidden">
                    <input th:name="removeCarId" th:value="${resCar.key.carId}" type="hidden">
                    <input name="carName" th:if="${carName != null}" th:value="${carName}" type="hidden">
                    <input name="owner" th:if="${owner != null}" th:value="${owner}" type="hidden">
                    <input name="showAllCars" th:if="${showAllCars !=null}" type="hidden" value="Show all cars">
                </form>
            </td>
        </tr>
    </table>

    <div class="row" th:if="${listedCarReservations.size() > 0}">

        <p>Please note that reserving a car doesn't mean you can pick it up right away. You will receive a notification
            on
            this account when an employee of the customer service has put it aside for you. It could also happen that
            the current
            user of a car doesn't
            return the car in time, which will result in an expired reservation. In that case your reservation will be
            canceled.</p>

        <div class="col-50">
            <form th:action="@{/user/browsecars/payreservation}" th:method="PUT">
                <input type="submit" value="Reserve cars">
                <input th:name="_method" th:value="PUT" type="hidden">
                <input th:name="reservedCarIdsInString" th:value="${reservedCarIds}" type="hidden">
                <input th:name="amountToPay" th:value="${listedCarReservations.size()}" type="hidden">
            </form>
        </div>

        <div class="col-50">
            <p>Total order:
                <b>
                    <text th:text="${'$' + listedCarReservations.size() * 100 + ''}"></text>
                </b>
            </p>
        </div>
    </div>

</div>


<div class="container">
    <h3>Cars</h3>

    <div class="row">
        <form action="/user/browsecars" method="GET">
            <div class="col-25">
                <Label for="carName">Car name</Label>
            </div>
            <div class="col-75">
                <input id="carName" name="carName" th:value="${carName}" type="text">
            </div>

            <div class="col-25">
                <Label for="owner">Car owner</Label>
            </div>
            <div class="col-75">
                <input id="owner" name="owner" th:value="${owner}" type="text">
            </div>
            <div>
                <input type="submit" value="Search">
                <input th:name="reservedCarIdsInString" th:value="${reservedCarIds}" type="hidden">
            </div>
        </form>

        <form action="/user/browsecars" method="GET">
            <div>
                <input name="showAllCars" style="margin-left: 20px" type="submit" value="Show all cars">
                <input th:name="reservedCarIdsInString" th:value="${reservedCarIds}" type="hidden">
            </div>
        </form>
    </div>
    <br/>

    <div th:if="${cars.size() > 0}">
        <table id="tablestyle">
            <tr>
                <th>Car name</th>
                <th>Owner</th>
                <th>Release Year</th>
                <th>Edition</th>
                <th>Return Date</th>
                <th>End Reservation Date</th>
                <th style="width: 100px">Reserve</th>
            </tr>
            <tr th:each="car : ${cars}">
                <td th:text="${car.carName}"></td>
                <td th:text="${car.owner}"></td>
                <td th:text="${car.releaseYear}"></td>
                <td th:text="${car.edition}"></td>
                <td th:text="${car.returnDate}"></td>
                <td th:text="${car.endReservationDate}"></td>
                <td th:if="${car.endReservationDate == null && userHasFine == false}">
                    <form>
                        <input class="table" type="submit" value="Reserve car">
                        <input th:name="reservedCarId" th:value="${car.carId}" type="hidden">
                        <input th:name="reservedCarIdsInString" th:value="${reservedCarIds}" type="hidden">

                        <input name="carName" th:if="${carName != null}" th:value="${carName}" type="hidden">
                        <input name="owner" th:if="${owner != null}" th:value="${owner}" type="hidden">
                        <input name="showAllCars" th:if="${showAllCars !=null}" type="hidden" value="Show all cars">
                    </form>
                </td>
                <td th:if="${userHasFine}">
                    Not possible &#128549 , the reservation is blocked because you have a fine.
                </td>
                <td th:if="${car.endReservationDate != null && userHasFine == false}">
                    Not possible, car is already reserved.
                </td>
            </tr>

        </table>
    </div>


</div>
</body>
</html>