<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>FAQ &#128663;</title>
    <link rel="styleSheet" th:href="@{/CSS/account-layout.css}" type="text/css">
</head>
<body>
<ul th:replace="page-layout :: userNavBar"></ul>

<div class="container">
    <h3>FAQ &#128663;</h3>

    <p>Can't find your answer here? Please contact us by
        send an email to <b>customer_service_car_renting@inpt.ac.ma</b></p>

    <h4>How long can I borrow a car? </h4>
    <p>Unfortunately, cars can only be borrowed for 21 days. This period may be extended for one week at a time, with a
        maximum of three
        weeks. The extension is free and can only be done if no one else has made a reservation for that particular car.
        The condition of your cars
        can be viewed on your personal inventory account on our website. </p>

    <h4>How can I reserve a car?</h4>
    <p>Search for the car through your personal account on our website and click on the <b>Reserve Car</b>
        button. A
        reservations are valid for 7 days and cost <b style="color:red;">$100 per car.</b>
        If the car is not collected after 7 days, the reservation will be automatically canceled.</p>

    <h4>What if i can't return a car on time? </h4>
    A fine of <b style="color:red;">$10 per car is charged per day</b>. When you keep in your possession a car that
    should have been returned,
    reservations cannot be made and new orders cannot be picked up.

    <h4>What happens if i lose a car? </h4>
    <p>Please contact our customer service as soon as possible. Officials will charge a price for the car, based on
        on its value. </p>
</div>

</body>
</html>